{% extends 'tests/base.html' %}

{% block content %}
      <br>
      <h2>Ваши последние 4 тестирования каждого теста</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Тест</th>
              <th>Первая проба</th>
              <th>Вторая проба</th>
              <th>Третия проба</th>
              <th>Четвертая проба</th>
            </tr>
          </thead>
          <tbody>
          {% for key, value in all_results.items %}
            <tr>
              <td>{{ key }}</td>

              {% for date, result in value.items %}
              {% if result != 0 %}
                <td>Результат {{ result }} ({{ date|date:"d M Y" }}) </td>
              {% endif %}
              {% if result == 0 %}
                <td>-</td>
              {% endif %}
              {% endfor %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>

{% endblock %}